#info {
	background: #fff;
	color: #fff;
	text-align: center;
	padding: 20px;
	color: #000;
}

#info .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#info .info-rs {
	margin: 20px;
	color: #000;
}

#info .info-rs img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;
}

